---
import '@/styles/globals.css'
---

<section
  class="flex text-white max-w-[780px] gap-10 h-auto justify-between items-center mx-auto"
>
  <!-- Imagem em Destaque -->
  <div
    class="w-[390px] h-[390px] rounded-full bg-cover bg-no-repeat bg-center shadow-lg"
    style="background-image: url('/IMG-20241205-WA0035.jpg');"
    role="img"
    aria-label="Foto do autor ou especialista em destaque"
  ></div>

  <article class="flex flex-col gap-4 w-full max-w-[50%] text-lg">
    
    <h1 class="text-4xl font-bold uppercase">Quem sou eu para te ajudar?</h1>
    
    <p class="leading-relaxed">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus cumque
      quibusdam illo soluta. Error excepturi laboriosam ab facilis perspiciatis
      nihil rem corporis illo itaque culpa. Iste eos consequuntur amet nisi!
    </p>
    <p class="leading-relaxed">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus cumque
      quibusdam illo soluta. Error excepturi laboriosam ab facilis perspiciatis
      nihil rem corporis illo itaque culpa. Iste eos consequuntur amet nisi!
    </p>
    <p class="leading-relaxed">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus cumque
      quibusdam illo soluta. Error excepturi laboriosam ab facilis perspiciatis
      nihil rem corporis illo itaque culpa. Iste eos consequuntur amet nisi!
    </p>

  </article>
</section>
