---
import '@/styles/globals.css';
import MyButton from '../MyButton.astro';
---

<section class="flex mt-20 gap-10 justify-between">
  <article class=" text-white flex flex-col gap-[10px] justify-between ">
    <img src="/LOGO.png" alt="Digital facil" width="168" height="73" />
    <h1 class="max-w-[538px] text-3xl font-bold leading-[50px] uppercase">
      Ferramentas simples e práticas que irão facilitar a sua forma de gerir as
      redes sociais
    </h1>
    <MyButton 
    width="450" 
    height="60" 
    description="Quero aproveitar esta opurtunidade" 
    isBg="0" 
    color="white"
  /> 
  <figure>
    <img 
      src="/card-de-pagamentos.svg" 
      alt="Meios de pagamentos disponíveis" 
      width="493" 
      height="46" 
      loading="lazy" 
    />
  </figure>

  <figure>
    <img 
      src="/3_objects.svg" 
      alt="Vagas limitadas para inscrição" 
      width="538" 
      height="73" 
      loading="lazy" 
    />
  </figure>
</article>
  <aside>
    <div 
      class="w-[576px] h-[560px] bg-[#E71D36]" 
      aria-hidden="true" 
      role="presentation">
    </div>
  </aside>
</section>
