---
import Layout from '@/layouts/Layout.astro'
import MyAccordion from '@/components/ui/MyAccordion'
import MyButton from '../MyButton.astro'
---

<section class="w-[780px] flex flex-col items-center gap-5 text-white ">
    <h1 class="uppercase text-4xl font-bold">Faq Perguntas Frequentes</h1>
    <MyAccordion client:visible/>
  </section>
 