---
import { Image } from 'astro:assets'
import '@/styles/globals.css'
---

<section class="flex flex-col items-center gap-4">
  <!-- Título da Seção -->
  <h2 class="text-3xl font-bold text-white">
    Assista ao nosso vídeo explicativo
  </h2>

  <!-- Imagem do Vídeo -->
  <Image
    src="/video.png"
    alt="Imagem do vídeo explicativo sobre as funcionalidades da plataforma"
    width="780"
    height="653"
    sizes="(max-width: 768px) 100vw, 780px"
    class="rounded-lg shadow-lg"
  />

  <!-- Descrição Opcional -->
  <p class="text-center text-red-600 text-sm max-w-[600px]">
    Descubra como nossa plataforma pode simplificar a gestão das suas redes sociais. Este vídeo fornece uma visão geral das principais funcionalidades.
  </p>
</section>
