---
import { Image } from 'astro:assets'
import '@/styles/globals.css'
---

<section>
  <Image
    src="/video.png"
    alt="Video explicativo"
    width="780"
    height="653"
    class=""
  />
</section>
