---
import '@/styles/globals.css'
---

<section
  class="flex text-white w-[780px] gap-10 h-auto justify-between items-center"
>
  <div
    class="w-[390px] h-[390px]
    rounded-full
    bg-red-400
    bg-[url('/IMG-20241205-WA0035.jpg')]
    bg-cover bg-no-repeat bg-center"
  >
  </div>

  <article class="flex flex-col gap-4 w-[50%] text-lg">
    <div class="flex flex-col flex-wrap gap-5"></div>
    <h1 class="text-4xl">Quem sou eu para te ajudar?</h1>
    
    <p class="">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus cumque
      quibusdam illo soluta. Error excepturi laboriosam ab facilis perspiciatis
      nihil rem corporis illo itaque culpa. Iste eos consequuntur amet nisi!
    </p>
    <p class="">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus cumque
      quibusdam illo soluta. Error excepturi laboriosam ab facilis perspiciatis
      nihil rem corporis illo itaque culpa. Iste eos consequuntur amet nisi!
    </p>
    <p class="">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus cumque
      quibusdam illo soluta. Error excepturi laboriosam ab facilis perspiciatis
      nihil rem corporis illo itaque culpa. Iste eos consequuntur amet nisi!
    </p>
  </div>
  </article>
</section>
