---
import '@/styles/globals.css'
import MyButton from '../MyButton.astro'
---
<section class="flex flex-col gap-8 items-center w-full h-[480px] bg-[#191919] py-[64px] text-white">
    <div class="bg-[#E71D36] w-[780px] h-[260px] rounded-[40px]"></div>
    <MyButton
        width="450"
        height="60"
        description="Quero aproveitar essa oportunidade"
        isBg="0" 
        color="#fff"
    />
</section>
