---
import MyButton from '../MyButton.astro'
import '@/styles/globals.css'
---

<section
  class="flex gap-12 items-center
        w-full h-[720px]
        bg-[#191919] opacity-90
        py-[117px] px-[173px]
        text-white text-lg"
  aria-labelledby="dificuldade-mkt-digital"
>
  <article class="flex flex-col gap-6">
    <h1 class="text-4xl font-bold leading-[53px] uppercase">
      Dificuldade na Execução Prática das Ferramentas de MKT Digital?
    </h1>
    <p>
      O <strong>Digital Fácil</strong> irá facilitar a sua forma de gerir as plataformas de mídia
      sociais por meio da aplicação de estratégias de marketing digital sem
      complicações.
    </p>
    <p>
      Esse sistema foi criado com base em uma dor latente no mercado digital a
      precariedade e falta de domínio das Estratégias de social media e falta de
      Processos e ferramentas prontas de execução simples e para usar no seu dia
      a dia de trabalho.
    </p>

     <!-- Botão Personalizado -->
     <MyButton
     width="450"
     height="60"
     description="Quero aproveitar essa oportunidade"
     isBg="0" 
    color="white"
   />
  </article>

  <article>
    <div
      class="quadrado w-[460px] h-[460px] bg-[#E71D36] rounded-lg shadow-lg"
      aria-hidden="true"
    ></div>
  
  </article>
</section>
