---
import { Button } from '../ui/button'
import '@/styles/globals.css'
---

<section
  class="flex gap-12 items-center
        w-full h-[720px]
        bg-[#191919] opacity-90
        py-[117px] px-[173px]
        text-white text-lg"
>
  <article class="card-left flex flex-col gap-3">
    <h1 class="text-4xl font-bold leading-[53px]">
      Dificuldade na Execução Prática das Ferramentas de MKT Digital?
    </h1>
    <p>
      O Digital Fácil irá facilitar a sua forma de gerir as plataformas de mídia
      sociais por meio da aplicação de estratégias de marketing digital sem
      complicações.
    </p>
    <p>
      Esse sistema foi criado com base em uma dor latente no mercado digital a
      precariedade e falta de domínio das Estratégias de social media e falta de
      Processos e ferramentas prontas de execução simples e para usar no seu dia
      a dia de trabalho.
    </p>

    <Button
      className="bg-[#E71D36] font-bold rounded-full  w-[450px]  h-[60px] text-lg"
    >
      Quero aproveitar essa opurtunidade
    </Button>
  </article>
  <article class="card-rigt">
    <div class="quadrado w-[460px] h-[460px] bg-[#E71D36]"></div>
  </article>
</section>
