---
import MyButton from '@/components/MyButton.astro'
---
<section class="w-full flex flex-col">
    <article class="w-full h-[390px] bg-[#E71D36] flex flex-col items-center justify-between py-[150px] gap-10">
      <h1 class="text-4xl text-white uppercase font-bold ">Ainda Com Duvidas?</h1>
      <MyButton 
      width="450" 
      height="60" 
      description="Fale Conosco no Whatsapp" 
      isBg="1" 
      color="black"
    />  
    
    </article>
  <article class="w-full h-[100px] text-white text-start text-sm uppercase px-10 py-5 ">

      <nav class="flex flex-col items-end gap-3 text-[#E71D36]">
            <ul>
              <li><a href="#">Politicas De reembolso</a></li>
              <li><a href="#">Livro de Reclamacoes</a></li>
              <li><a href="#">politicas de privacidade</a></li>
            </ul>
      </nav>
      <div class="text-center">
      <p>By Adalberto Silvestre</p>
      <p>Digital Facil® É uma marca reguistada da Activadora de conhecimento. Todos os direitos reservados</p>
    </div>
  </article>
  </section>