---
import '@/styles/globals.css'
import MyTabsComponent from '@/components/ui/MyTabsComponent'
---
<section class="text-white mt-12">
	<article class="flex flex-col text-center items-center gap-10">
		<div> 
			<h2 class="text-4xl font-bold">COMECA AGORA</h2>
			<p class="w-[400px] leading-6">
			Simplicidade na Gestão das Redes Sociais por meio do acesso a
			Ferramentas Práticas e Intuitivas
			</p>
		</div>
			<MyTabsComponent client:visible />
	</article>
</section>