---
import '@/styles/globals.css'
import CardImageRight from '@/components/CardImageRight.astro'
import MyButton from '@/components/MyButton.astro';
---

<section class="text-white flex flex-col gap-12">
    <article>
        <h2 class="text-4xl font-bold text-center mb-12 uppercase">
            Para quem e o Digital Facil?
        </h2>
        <div class="flex flex-col gap-12 items-center">
        <CardImageRight
            title="PROFICIONAIS CRIATIVOS"
            description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, modi distinctio quibusdam ad reiciendis reprehenderit quis, provident iusto, id libero dicta facere neque. Hic "
        />
        <CardImageRight
            position="left"
            title="DONOS DE NEGOCIOS DIGITAIS"
            description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, modi distinctio quibusdam ad reiciendis reprehenderit quis, provident iusto, id libero dicta facere neque. Hic "
        />
        <CardImageRight
            title="PROFICIONAIS DE MARKETING"
            description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, modi distinctio quibusdam ad reiciendis reprehenderit quis, provident iusto, id libero dicta facere neque. Hic "
        />
        <CardImageRight
            position="left"
            title="PESSOAS QUE TEM DIFICULDADES"
            description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, modi distinctio quibusdam ad reiciendis reprehenderit quis, provident iusto, id libero dicta facere neque. Hic "
        />
        <CardImageRight
            title="NOOBS NO MARKETING DIGUITAL"
            description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, modi distinctio quibusdam ad reiciendis reprehenderit quis, provident iusto, id libero dicta facere neque. Hic "
        />
        <MyButton
    width="450"
    height="60"
    description="Quero aproveitar essa oportunidade"
    isBg="0" 
    color="white"
  />
        </div>
    </article>
</section>