---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import { Image } from "astro:assets";
import Page1 from '../components/Page1.astro';
import CardImage from '../components/CardImage.astro'
import { Button } from '@/components/ui/button';

---

<Layout>
<div class="flex flex-col items-center">
	<Page1/>

	<div>
	<Image src="/video.png" alt="Video explicativo" width="780"	height="653" class="mt-[97px]" /> 
	<div class="w-[780px] h-auto ">
		<div class="w-full h-auto mt-[50px] rounded-3xl text-white text-2xl bg-[#191919] box-border">
			<p class="leading-9 text-center py-12">
				Finalmente você pode alcançar resultados eficazes mesmo
				com pouco conhecimento em Marketing Digital por meio
				de uma abordagem simplificada para manter a presença 
				digital de forma consistente.
			</p>
			<div class="flex flex-wrap justify-center gap-10 mx-[111px] ">
				<CardImage 
				url ="/prova-1.png" 
				alt="prova social 1"
				/>
				<CardImage 
				url ="/prova-2.png" 
				alt="prova social 2"
				/>
				<CardImage 
				url ="/prova-3.png" 
				alt="prova social 1"
				/>
				<CardImage 
				url ="/prova-4.png" 
				alt="prova social 1"
				/>

				<Button 
				className="bg-[#E71D36] font-bold rounded-full w-[450px] h-[60px] text-lg">
					Quero aproveitar essa opurtunidade
				</Button>
			</div>
			
		</div>
		<div class="">
		   	<Image src="/IMG-20241205-WA0035.jpg" alt="Quem sou eu" width="400" height="400" class="rounded-full" />
		</div>	
	    </div>
	</div>


</div>
</Layout>
