---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
/*				Importando todos os frames da pag				*/
import Frame1 from '@/components/Frames/Frame1.astro'
import Frame2 from '@/components/Frames/Frame2.astro'
import Frame3 from '@/components/Frames/Frame3.astro'
import Frame4 from '@/components/Frames/Frame4.astro'
import Frame5 from '@/components/Frames/Frame5.astro'
import Frame6 from '@/components/Frames/Frame6.astro'
import Frame7 from '@/components/Frames/Frame7.astro'
import Frame8 from '@/components/Frames/Frame8.astro'
import Frame9 from '@/components/Frames/Frame9.astro'
import Frame10 from '@/components/Frames/Frame10.astro'
import Frame11 from '@/components/Frames/Frame11.astro'
import Frame12 from '@/components/Frames/Frame12.astro'
/*---------------------------------------------------------------*/

---

<Layout>
  <main class="flex flex-col items-center gap-24">
    <Frame1 />
    <section class="flex flex-col items-center gap-24">
      <Frame2 />
      <Frame3 />
      <Frame4 />
    </section>
    <section>
      <Frame5 />
      <Frame6 />
      <Frame7 />
    </section>
    <section>
      <Frame8 />
	    <Frame9 />
    </section>

    <Frame10/>
    <Frame11/>
  </main>
  <footer class="mt-24">
    <Frame12/>
  </footer>
</Layout>
